MESSAGE_ENCRYPTION_KEY=local-development-key-change-me

# HOST MACHINE USER SETTINGS
UID=1001
GID=1001
NODE_USER_NAME=node

# NODE
NODE_ENV=development

# Security
ALLOWED_ORIGINS=https://chat.localhost,https://auth.localhost,https://api.chat.localhost,https://ws.chat.localhost
JWT_SECRET=local-development-jwt-secret-change-me-please
TURN_SHARED_SECRET=local-development-turn-shared-secret-change-me
TURN_EXTERNAL_IP=127.0.0.1
ACCESS_TOKEN_LIFETIME=15m
REFRESH_TOKEN_LIFETIME=720h

# TURN (turn.chat.localhost)
TURN_SHARED_SECRET=local-development-turn-shared-secret-change-me
TURN_EXTERNAL_IP=127.0.0.1

# DB
APP_DB_VERSION=18.4
APP_DB_NAME=messenger
APP_DB_USER=messenger_user
APP_DB_PASSWORD=user-password

# Redis
REDIS_VERSION=8.2.1
